* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}
:root {
    --main-color: #1076ca;
    --second-color: #252525;
    --main-background-color: #eee;
    --main-padding: 20px;
}
body {
    font-family: "Roboto", sans-serif;
}
/* end Global Rules */
/* Start Container */
.container{
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px){
    .container {
        width: 750px;
    }
}
@media (min-width: 992px){
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Container */
/* start Header */
.header {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 3;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
    border-bottom: 3px solid #252525;
}
.header .container .logo {
    font-size: 22px;
    color: var(--main-color);
    z-index: 3;
}
.header .container .nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header .container .links {
    display: flex;
    justify-content: flex-end;
    width:45%;
    align-items: center;
}
.header .container .nav .bars {
    margin-right: 10px;
    font-size: 22px;
}
@media (max-width:768px){
    .container .nav .links {
        display: none;
    }
    .container .nav .click:hover + .links,
    .container .nav  .links:hover {
        display: flex;
        flex-direction: column;
        position: absolute;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0px;
        align-items: flex-start;
        background-color: #21649bc4;
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        padding: 0;
    }
    .header .container .links li a:hover::before,
    .header .container .links li .active::before {
        display: none;
    }
    .header .container .links li a {
        color: white !important;
    }
    .header .container .links li .active {
        color: white !important;
    }
    .header .container .links li {
        width: 100%;
        border-bottom: solid 2px black;
    }
}
@media (min-width:768px) {
    .header .container .nav .bars {
        display: none;
    }
}
.header .container .links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 15px !important;
    padding: 40px 10px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}
.header .container .links li a:hover,
.header .container .links li .active
 {
    color: var(--main-color);
}
.header .container .links li a:hover::before,
.header .container .links li .active::before
 {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -27px;
    background-color: var(--main-color);
}
.header .container  .form {
    border-left: 2px solid;
    padding-left: 10px;
}
.header .container  .form .search {
    font-size: 22px;
    color: var(--main-color);
    z-index: 3;
}
/* End Header */
/* Start Landing page */
.landing {
    background-color: var(--second-color);
    background-image: url("../images/shuffle-02.jpg");
    height: 100vh;
    position: relative;
}
.landing .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #5251517c;
    z-index: 0;
}
.landing .text{
    position: absolute;
    width: 50%;
    height: 40%;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 50px;
    background-color: #1076ca9d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6;
}
.landing .arrow-left,
.landing .arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    z-index: 2;
}
.landing .arrow-left {
    left: 10px;
}
.landing .arrow-right {
    right: 10px;
}
.landing .bullet {
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: var(--main-color);
    bottom: 10px;
    left: 50%;
    border: 2px solid var(--main-color);
    transform: translateX(-50%);
}
.landing .bullet::before,
.landing  .bullet::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid white;
}
.landing .bullet::before {
    top: -2px;
    left: -28px;
}
.landing .bullet::after {
    top: -2px;
    right: -28px;
}
@media (max-width:808px) {
    .landing .text {
        width: 70%;
        height: 52%;
    }
}
@media (max-width:360px) {
    .landing .text {
        top: 57%;
        width: 75%;
        height: 70%;
    }
}
/* End Landing page */
.container .title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}
.container .title h2 {
    position: relative;
    font-size: 40px;
    font-weight: 500;
}
.container .title h2::after {
    content: '';
    position: absolute;
    width: 70%;
    height: 3px;
    background-color: black;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.container .title h2::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
    border: 2px solid black;
    left: 50%;
    bottom: -30px;
    transform: translate(-50%);
}
.container .title p {
    width: 80%;
    text-align: center;
}
/* Start Services Section*/
.container .srv {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.container .srv .card {
    position: relative;
    width: 48%;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 10px;
    background-color: #eee;
    transition: 1s;
    line-height: 1.6;
    border-radius: 1%;
}
.container .srv .card:hover {
    box-shadow: 0px 0px 10px 2px var(--main-color);
    color: var(--second-color);
}
.container .srv .card .icon i {
    color: var(--main-color);
}
.container .srv .card .title-description h3 {
    color: var(--main-color);
}
.container .srv .card .icon {
    margin-top: 18px;
    font-size: 50px;
}
@media (max-width:693px){
    .container .srv .card {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 3%;
    }
    .container .srv .card .icon {
        font-size: 30px;
    }
}
.background {
    background-color: var(--second-color);
    background-image: url("../images/design-features.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    height: 80vh;
    overflow: hidden;
}
.background .imgs {
    position: relative;
    bottom: -100px;
    left: 40px;
}
.background .imgs img {
    width: 100%;
}
.background .our-design {
    padding: 15px;
    background-color: #1076ca98;
    color: white;
}
.background .our-design .features li{
    margin-bottom: 15px;
}
.background .our-design .features li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\e163";
    margin-right: 10px;
}
@media (max-width:768px) {
    .background .imgs img {
        display: none;
    }
    .background {
        justify-content: flex-start;
    }
    .background .our-design {
        width: 100%;
    }
}
/* End Services Section*/
/* Start Portfolio Section*/
.container .sorting {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.container .sorting span {
    padding: 5px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.container .sorting span:hover,
.container .sorting .active {
    color: white;
    background-color: var(--main-color);
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto-fill,auto);
    gap: 5px 10px;
}
@media (max-width:768px){
    .portfolio {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(auto-fill,auto);
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .portfolio {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(auto-fill,auto);
    }
}
.portfolio img {
    max-width: 100%;
    transition-duration: 0.3s;
}
.portfolio .box {
    position: relative;
    overflow: hidden;
}
.portfolio .box .transi {
    position: absolute;
    width: 100%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    transition: 0.3s;
    pointer-events: none;
}
.portfolio div div .photo {
    color: var(--main-color);
}
.portfolio .box:hover .transi{
    bottom: 0;
}
.portfolio img:hover {
    transform: scale(1.5) rotate(10deg);
}
.more {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.more button {
    outline: none;
    border: solid var(--main-color) 3px;
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 10%;
    transition: 0.3s;
}
.more button:hover {
    background-color: var(--main-color);
    color: white;
}
.video {
    position: relative;
}
.video video {
    max-width: 100%;
}
.video .text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: white;
    white-space: nowrap;
}
@media (max-width: 350px) {
    .video .text {
        font-size: 13px;
    }
}
/* End Portfolio Section*/
/* Start About section */
.img-about .container {
    display: flex;
    justify-content: center;
}
.img-about .container img {
    max-width: 100%;
    position: relative;
    top: 60px;
    z-index: -1;
}
.background-about {
    background-image: url("../images/stats.png");
    background-color: var(--second-color);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
    padding: 10px;
}
.background-about .container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #1076ca98;
    padding: 40px;
    width: 100%;
}
@media (max-width:768px) {
    .background-about {
        height: fit-content;
    }
    .background-about .container {
        grid-template-columns: repeat(1,1fr);
    }
    .background-about .container .box-about {
        width: 100%;
    }
}
@media (min-width:769px) and (max-width:992px) {
    .background-about {
        height: 80vh;
    }
    .background-about .container {
        grid-template-columns: repeat(2,1fr);
    }
}
.background-about .container .box-about {
    text-align: center;
    color: white;
}
.background-about .container .box-about .status-nums {
    font-size: 35px;
    font-weight: bold;
}
.background-about .container .box-about .icon-about {
    background-color: black;
    padding: 10px;
    border-radius: 50%;
}
.container .about-testi-skill {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .about-testi-skill .testimontals .comments-skill .img img {
    max-width: 100px;
}
.container .about-testi-skill .testimontals,
.container .about-testi-skill .skill {
    width: 48%;
    text-align: center;

}
.container .about-testi-skill .m-bottom {
    margin-bottom: 60px;
}
.container .about-testi-skill .m-bottom-testi {
    margin-bottom: 35px;
}
.container .about-testi-skill .testimontals .comment {
    text-align: left;
    padding: 10px 0;
    border-bottom: #25252588 1px solid;
}
.container .about-testi-skill .testimontals .comment .the-comment {
    line-height: 1.6;
    margin-top: -10px;
}
.container .about-testi-skill .testimontals .comment .name-comentiare {
    margin: 0;
    text-align: right;
    font-size: 15px;
    opacity: 0.6;
}
@media (max-width:992px) {
    .container .about-testi-skill .testimontals,
    .container .about-testi-skill .skill {
        width: 100%;
    }
}
.container .about-testi-skill .testimontals .descri-about,
.container .about-testi-skill .skill .descri-about {
    opacity: 0.6;
}
.container .about-testi-skill .testimontals .comments-skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    gap: 6%;
}
.container .about-testi-skill .testimontals span{
    margin-top: 20px;
    display: inline-flex;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--second-color);
}
.container .about-testi-skill .testimontals .active {
    background-color: var(--main-color);
    width: 16px;
    height: 16px;
    border: none;
}
.container .about-testi-skill .skill .langs{
    text-align: left;
}
.container .about-testi-skill .skill .langs p ~ p {
    margin-top: 35px;
}
.container .about-testi-skill .skill .langs .language-prog {
    width: 100%;
    height: 40px;
    background-color: var(--main-background-color);
}
/* adobe and php*/
.container .about-testi-skill .skill .langs .language-prog .adobe,
.container .about-testi-skill .skill .langs .language-prog .php {
    background-color: var(--main-color);
    width: 90%;
    height: 100%;
    position: relative;
}
.container .about-testi-skill .skill .langs .language-prog .adobe::after,
.container .about-testi-skill .skill .langs .language-prog .php::after {
    content: "90%";
    position: absolute;
    height: 100%;
    padding: 0 10px;
    top: -50px;
    background-color: var(--second-color);
    color: white;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}
.container .about-testi-skill .skill .langs .language-prog .adobe::before ,
.container .about-testi-skill .skill .langs .language-prog .php::before
{
    content: '';
    position: absolute;
    top: -13px;
    right: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid var(--second-color);
}
/* html css */
.container .about-testi-skill .skill .langs .language-prog .html-css {
    background-color: var(--main-color);
    width: 85%;
    height: 100%;
    position: relative;
}
.container .about-testi-skill .skill .langs .language-prog .html-css::after {
    content: "85%";
    position: absolute;
    height: 100%;
    padding: 0 10px;
    top: -50px;
    background-color: var(--second-color);
    color: white;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}
.container .about-testi-skill .skill .langs .language-prog .html-css::before {
    content: '';
    position: absolute;
    top: -13px;
    right: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid var(--second-color);
}
/* javascript */
.container .about-testi-skill .skill .langs .language-prog .javascript {
    background-color: var(--main-color);
    width: 85%;
    height: 100%;
    position: relative;
}
.container .about-testi-skill .skill .langs .language-prog .javascript::after {
    content: "85%";
    position: absolute;
    height: 100%;
    padding: 0 10px;
    top: -50px;
    background-color: var(--second-color);
    color: white;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}
.container .about-testi-skill .skill .langs .language-prog .javascript::before {
    content: '';
    position: absolute;
    top: -13px;
    right: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid var(--second-color);
}
.quote-background {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--second-color);
    background-image: url("../images/quote.jpg");
    max-width: 100%;
    height: 30vh;
    position: relative;
}
.quote-background .overlay {
    background-color: #252525b6;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.quote-background q ,
.quote-background p {
    z-index: 4;
}
.quote-background p {
    font-size: 15px;
    font-weight: normal;
}
/* End About section */
/* Start Pricing section */

/* End Pricing section */