* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}
:root {
    --main-color: #1076ca;
    --second-color: #252525;
    --main-background-color: #eee;
    --main-padding: 20px;
}
body {
    font-family: "Roboto", sans-serif;
}
/* end Global Rules */
/* Start Container */
.container{
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px){
    .container {
        width: 750px;
    }
}
@media (min-width: 992px){
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Container */
/* start Header */
.header {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
    border-bottom: 3px solid #252525;
}
.header .container .nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header .container .links {
    display: flex;
    justify-content: flex-end;
    width:45%;
    align-items: center;
}
@media (max-width:768px) {
    .header .container .links {
        display: none;
    }
}
.header .container .links li a {
    text-decoration: none;
    color: black;
    padding: 15px !important;
    padding: 40px 10px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}
.header .container .links li a:hover,
.header .container .links li .active
 {
    color: var(--main-color);
}
.header .container .links li a:hover::before,
.header .container .links li .active::before
 {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -27px;
    background-color: var(--main-color);
}
.header .container  .form {
    border-left: 2px solid;
    padding-left: 10px;
}
/* End Header */